* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

p {
	margin: 0;
}

body {
	background: #292826;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.container {
	padding: 1rem;
	width: 400px;
}

input[type="search"] {
	background-clip: padding-box;
	background-color: white;
	vertical-align: middle;
	border-radius: 0.25rem;
	border: 1px solid #e0e0e5;
	font-size: 1rem;
	width: 100%;
	line-height: 2;
	padding: 0.375rem 1.25rem;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	transition: border-color 0.2s;
}

input[type="search"]:focus {
	transition: all 0.5s;
	box-shadow: 0 0 40px #f9d442b9;
	border-color: #f9d342;
	outline: none;
}

form.search-form {
	display: flex;
	justify-content: center;
}

label {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: center;
	margin-bottom: 0;
}

input.search-field {
	margin-bottom: 0;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: center;
	height: 51px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input.search-submit {
	height: 51px;
	margin: 0;
	padding: 0.6rem 1rem;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	font-size: 1.6rem;
}

.button {
	display: inline-block;
	font-weight: 600;
	font-size: 0.8rem;
	line-height: 1.15;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	background: #f9d342;
	color: #292826;
	border: 1px solid transparent;
	vertical-align: middle;
	text-shadow: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.button:hover,
.button:active,
.button:focus {
	cursor: pointer;
	background: #d4b743;
	color: #292826;
	outline: 0;
}

.line {
	border-top: 1px solid #f9d342;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;
	padding: 1rem;
}

.info {
	display: flex;
	gap: 10px;
	color: #dfd3d3;
	padding: 0 8px 8px;
	margin: 0;
}

.info-item {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 30px;
	justify-content: center;
}

.photo-link {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin: 0 auto;
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: calc((100% - 20px * (4 - 1)) / 4);
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-link:hover,
.photo-link:focus {
	box-shadow: 3px 3px 3px rgba(81, 81, 199, 0.12), 0px 4px 4px #e1ba1f, 1px 4px 6px rgba(81, 81, 199, 0.16);
}

.photo {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
	margin-bottom: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

b {
	color: #fff;
}

.go-top {
	position: fixed;
	right: 20px;
	top: 95%;
	transform: translateY(-50%);
	cursor: pointer;
	display: none;
}

.go-top--show {
	display: block;
}

.arrow {
	background-color: red;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.arrow:hover {
	box-shadow: 0 0 5px 10px rgba(241, 222, 10, 0.4);
}